nav {
  background-color: #333;
  padding: 2px;
  width: 80%;
  margin: auto;
  min-width: 500px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 3px 3px 3px;
  padding: 0;
}
  
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
  
nav ul li a:hover {
  color: #f0a500;
}

.navRight{
  padding-right: 10px;
}

.navCenter{
  gap: 5%;
  display: flex;
  justify-content: center;
  flex-grow: 1;  
}

.navLeft{
  padding-left:10px
}
