.navBar {
  background-color: #333;
  padding: 2px;
  width: 80%;
  margin: auto;
  min-width: 500px;
  min-height: 45px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 3px 3px 3px;
  padding: 0;
}

.hiddenNav{
  background-color: grey;
  padding: 2px;
  width: 80%;
  margin: auto;
  display: block;
  min-width: 500px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  text-underline-offset: none;
}
  
nav ul li a:hover {
  color: #f0a500;
}

.hiddenNav li{
  display: flex;
  align-items: center;
  font-size: 13px;
  color: white;
  min-height: 22px;
  padding: 8px 16px;
}

.hiddenNav a {
  text-decoration: none;
}

.hiddenNav li:hover{
  background-color: rgb(227, 212, 255);
  color:black
}

.navRight{
  padding-right: 10px;
}

.navCenter{
  gap: 5%;
  display: flex;
  justify-content: center;
  flex-grow: 1;  
}

.navLeft{
  padding-left:10px
}

.dropdownContent {
  display: block;
  position: absolute;
  background-color: #ebebebce;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 6.1%;
}

.dropdownContent li {
  padding: 8px 16px;
}

.dropdownContent li a {
  color: black;
}

.hiddendropdownContent {
  margin: auto;
  display: block;
  background-color: #c9c9c9ce;
}


@media(max-width: 600px){
  .navCenter{
    display: none;
  }
  #userIcon{
    display: none;
  }
  #menuIcon{
    display: block;
  }

}

@media(min-width: 600px){
  .navCenter{
    display: flex;
  }
  #userIcon{
    display: block;
  }
  #menuIcon{
    display: none;
  }
  .hiddenNav{
    display: none;
  }
}