/* This is styling for all main area */

/* fetch the height to all the page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

/* Styling backgorund color for all page */
.mainBody {
    min-height: 100%;
    width: 100%;
    background-color: #f1e9ff;
  }